*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
		}
        body{
            background-color: gray;
            font-family: 'Roboto', sans-serif;

        }
        .container{
            width: 1170px;
            background-color: #fff;
            padding: 0px 20px;
            margin: 10 auto;
            box-shadow: 0 0 3px whitesmoke;
        }
        .flex-container{
            display: flex;
            flex-direction: row;
            font-family: 'Roboto', sans-serif;

        }
        .user-pic img{
            width: 86px;
            height: 80px;
            vertical-align: middle;
        }
        .navigations{
            padding: 0 0 0 60px;
            text-transform: capitalize;
        }
        .navigations h1{
            padding-top: 10px;
        }
        .nav-menus{
            display: flex;
            list-style-type: none;
            flex-direction: row;
            text-decoration: none;

        }
        .nav-links{
            display: block;
            text-decoration: none;
            padding: 10px 40px 10px 0;
            color: black;
            font-size: 20px;
        }
        .active-link{
            color: black;
            
        }
        .nav-links .active-link{
            color: #000;
           

        }
        .active-link1{
            color: lightgray;
           
        }
        .nav-links .active-link1{
            color: lightgray;
            
        }

        .nav-links .nav-menus:hover{
            color: darkred;
            background-color: black;
        }
        .container1{
            background-color: black;
            text-align: center;
           width: 1170px;
            padding: 40px 25px;
            margin: 0 auto;
            font-family: 'Roboto', sans-serif;
           height: 210px;
         /*   box-shadow: 0 0 3px whitesmoke;*/
            /*border-bottom: 1px solid black;*/
        }
        .container1 h4{
            color: gray;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .container1 h1{
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .container1 .download{
            background-color: black;
            border: 1px solid white;
            color: white;
            margin-top: 10px;
            padding: 5px 20px;
            text-decoration: none;

        }
        .skill{
            width: 1170px;
            padding: 10px 20px;
            margin: 10px auto;
            border-bottom: 1px solid black;
              /*box-shadow: 0 0 3px whitesmoke;*/
        }
        .skill img{
            width: 50px;
            height: 40px;
        }
        .skill h2{
            padding: 10px;
        }
        .skill p{
            display: flex;
            font-family: 'Roboto', sans-serif;

        }
        .nav-links1{
            display: block;
            text-decoration: none;
            padding: 10px 40px 10px 0;
            margin-top: 20px;
            margin-bottom: 20px;
            color: #000;
            font-size: 16px;
        }
        .nav-menus1{
            display: flex;
            list-style-type: none;
            flex-direction: row;
            text-decoration: none;

        }
        .education{
            width: 1170px;
            padding: 10px 20px;
            margin: 10px auto;
            border-bottom: 1px solid black;
           /*   box-shadow: 0 0 3px whitesmoke;*/

        }
        .education p{
            display: flex;
            font-family: 'Roboto', sans-serif;

           /* padding-right: 20px;*/
        }
        .education h2{
            padding: 10px;
        }
        .education img{
            width: 50px;
            height: 36px;
        }
        .flex-container1{
            display: flex;
            margin-top: 15px;
            margin-left: 10px;
            padding-left: 15px;
           border-left: 3px solid gray;
           display: flex;
           font-family: 'Roboto', sans-serif;

            /*flex-direction: column;*/
        }
    
        .flex-container1 .college p{
            width: auto;
            height: auto;
            background-color: white;
        }
        .college{
            width: 83.3%;
        }
        .colgpercent{
            width: 16.66%;
        }
        .hsc{
            width: 83.33%;
        }
        .hscpercent{
            width: 16.66%;
        }
        .sslc{
            width: 83.3%;
        }
        .sslcpercent{
            width: 16.66%;
        }
        .flex-container1 .colgpercent p{
            background-color:lightgray;
            width: 100px;
            height: 100px;
           justify-content: space-around;
           align-items: center;

        }

        .flex-container1 .hsc p{
            width: auto;
            height: auto;
            background-color: white;
        }
        .flex-container1 .hscpercent p{
            background-color: lightgray;
            justify-content: space-around;
           align-items: center;
            width: 100px;
            height: 100px;
        }

        .flex-container1 .sslc p{
            width: auto;
            height: auto;
            background-color: white;
        }
        .flex-container1 .sslcpercent p{
            background-color: lightgray;
            justify-content: space-around;
           align-items: center;
            width: 100px;
            height: 100px;
        }
        .parasmall{
            font-size: 14px;
        }
        .parabig{
            font-size: 24px;
            font-weight: bold;
        }
        .projects{
            width: 1170px;
            padding: 10px 20px;
            margin: 10px auto;
            border-bottom: 1px solid black;
             /* box-shadow: 0 0 3px whitesmoke;*/
        }
        .projects img{
            width: 50px;
            height: 40px;
        }
        .projects h2{
            padding: 5px;

        }
        .projects p{
            display: flex;
            padding-left: 10px;
            font-family: 'Roboto', sans-serif;

        }
        .flex-container2{
            display: flex;
            font-family: 'Roboto', sans-serif;

           /* flex-direction: column;*/
            

        }
        .flex-container2 .project1{
            margin-top: 30px;
             border-left: 3px solid gray;
        }
        .contact{
            width: 1170px;
            padding: 10px 20px;
            margin: 10px auto;
             /* box-shadow: 0 0 3px whitesmoke;*/
        }
        .contact img{
            width: 30px;
            height: 30px;
        }
        .contact p{
            margin-top: 5px;
            font-family: 'Roboto', sans-serif;


        }
        .nav-links2{
            display: block;
            text-decoration: none;
            padding: 10px 40px 10px 0;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #000;
            font-size: 16px;
        }
        .nav-menus2{
            display: flex;
            list-style-type: none;
            flex-direction: row;
            text-decoration: none;

        }
        .bold{
            font-weight: bolder;
            font-size: 20px;
        }
